<div class="list-group-item" [ngClass]="{'list-group-item-danger': car.isSold}">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{car.name}}</h5>
        <small>{{car.date}}</small>
    </div>
    <p class="mb-1">{{car.model}}</p>
    <hr>
    <button type="button" class="btn btnDanger btn-danger btn-sm" (click)="onDelete(car.id)">Delete</button>
    <button type="button" class="btn btn-success btn-sm" (click)="onBuy()"
    [disabled]="car.isSold"
    >Buy</button>

</div>